.controlsWrapper {
  margin-top: 40px;
  padding: 10px;
  background-color: #f4f4f4;
  border: solid 1px darkgrey;
  border-radius: 5px;
}

.propName {
  color: dodgerblue;
}

.leftColumn {
  margin-left: 2px;
  border-bottom: dotted 1px darkgrey;
}

.rightColumn {
  margin-top: 2px;
  margin-right: 2px;
  border-left: dotted 1px darkgrey;
  border-bottom: dotted 1px darkgrey;
  padding-top: 10px !important;
}

.divider {
  border-bottom: dotted 1px darkgrey;
  margin: 10px 0 20px;
}

.select::after {
  z-index: 0 !important;
}
