.MultiSelect {
  &__value {
    color: $SM-borderColor;
  }

  &__tags {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow-x: auto;
    padding-right: 20px;
    margin-right: 40px;
    margin-bottom: -50px;
    padding-bottom: 50px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__tag {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: $SM-fieldHeight - 13px;
    line-height: $SM-fieldHeight - 13px;
    margin-right: 4px;

    &__label {
      box-sizing: border-box;
      color: $SM-tagColor;
      background-color: $SM-focusColor;
      padding: 0 11px 0 10px;
      border-radius: $SM-tagBorderRadius;
    }

    &__close {
      box-sizing: border-box;
      color: $SM-tagCloseColor;
      background-color: $SM-tagCloseBackgroundColor;
      padding: 0 5px;
      position: relative;
      left: -$SM-tagBorderRadius;
      border-top-right-radius: $SM-tagBorderRadius;
      border-bottom-right-radius: $SM-tagBorderRadius;
      cursor: pointer;

      &:hover {
        color: $SM-focusColor;
      }
    }
  }

  .DropDown {
    position: relative;
    box-sizing: border-box;
    outline: none;

    &__counter {
      color: $SM-counterColor;
    }

    &__panel {
      background-color: $SM-backgroundColor;
      border: 1px solid $SM-borderColor;
      border-bottom-right-radius: $SM-borderRadius;
      border-bottom-left-radius: $SM-borderRadius;
      border-top-color: $SM-dividerColor;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      margin-top: -2px;
      max-height: $SM-dropDownHeight;
      position: absolute;
      top: 100%;
      width: 100%;
      z-index: 1;
      overflow-y: auto;
      scroll-behavior: smooth;
    }

    &__header {
      box-sizing: border-box;
      position: relative;
      display: table;
      background-color: $SM-backgroundColor;
      border: 1px solid $SM-borderColor;
      border-radius: $SM-borderRadius;
      color: $SM-textColor;
      cursor: default;
      border-spacing: 0;
      border-collapse: separate;
      height: $SM-fieldHeight;
      outline: none;
      overflow: hidden;
      width: 100%;

      &--focused {
        border-color: $SM-focusColor;
        box-shadow: none;
      }

      &--expanded {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &__child {
      display: flex;
      box-sizing: border-box;
      position: absolute;
      max-width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 15px;
      line-height: $SM-fieldHeight - 2;
      color: $SM-textColor;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--disabledChild {
      opacity: 0.5;
    }

    &__rightBlock {
      display: flex;
      box-sizing: border-box;
      position: absolute;
      height: 100%;
      right: 0;
      padding: 0 12px;
      line-height: $SM-fieldHeight - 2;
      cursor: pointer;

      :not(:first-child) {
        margin-left: 10px;
      }
    }

    &__reset {
      cursor: pointer;
      color: $SM-borderColor;

      &:hover {
        color: $SM-focusColor;
      }
    }

    &__arrow {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      border-bottom-color: $SM-borderColor;

      &:hover {
        border-bottom-color: $SM-focusColor;
      }

      .arrow {
        border: 5.5px solid transparent;
        border-top-width: 0;
        border-bottom-color: inherit;
        height: 0;
        width: 0;
        transition: 0.4s;
      }

      &--up {
        @extend .arrow;
        transform: rotate(360deg);
        border-bottom-color: $SM-focusColor !important;
      }

      &--down {
        @extend .arrow;
        transform: rotate(180deg);
      }
    }

    &__loading {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      &__icon {
        @keyframes loading_spin {
          to {
            transform: rotate(1turn);
          }
        }
        box-sizing: border-box;
        animation: loading_spin 800ms infinite linear;
        width: 16px;
        height: 16px;
        border: 3px dotted $SM-dividerColor;
        border-radius: 50%;
        border-right-color: $SM-textColor;
        display: inline-block;
        position: relative;
        vertical-align: middle;
      }
    }
  }

  .SelectPanel {
    box-sizing: border-box;

    ::placeholder {
      color: $SM-searchPlaceholderColor;
      opacity: 1;
    }

    &__searchContainer {
      box-sizing: border-box;
      position: sticky;
      top: 0;
    }

    &__searchField {
      box-sizing: border-box;
      display: block;
      max-width: 100%;
      height: $SM-fieldHeight;
      line-height: $SM-fieldHeight;
      border: none;
      color: $SM-borderColor;
      border-bottom: 1px solid $SM-dividerColor;
      padding: 10px 15px;
      width: 100%;
      outline: none;
    }

    &--searchFieldFocused {
      color: $SM-itemTextColor;
    }

    &__selectAll {
      color: $SM-selectAllColor !important;
    }
  }

  .OptionList {
    margin: 0;
    padding-left: 0;

    &__item {
      list-style: none;
    }
  }

  .Option {
    box-sizing: border-box;
    background-color: #fff;
    color: $SM-itemTextColor;
    cursor: pointer;
    display: block;
    padding: 12px 15px;
    outline: none;

    &--hover {
      background-color: $SM-itemHoverColor;
      outline: 0;
    }

    &__label {
      display: inline-block;
      vertical-align: middle;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      cursor: default;
      padding: 2px 5px;
    }

    &--labelDisabled {
      opacity: 0.5;
    }

    &__renderer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
