$MS-backgroundColor: #fff;
$MS-focusColor: #1298d4;
$MS-fieldHeight: 40px;
$MS-borderRadius: 5px;
$MS-dividerColor: #cfd4d9;
$MS-borderColor: #aaa;
$MS-textColor: #333;
$MS-itemTextColor: #666666;
$MS-itemHoverColor: #ebf5ff;
$MS-searchPlaceholderColor: #c7c7c7;
$MS-dropDownHeight: 300px;
$MS-tagBackgroundColor: $MS-focusColor;
$MS-tagColor: #fff;
$MS-tagCloseBackgroundColor: #d1d1d1;
$MS-tagCloseColor: $MS-textColor;
$MS-tagBorderRadius: 3px;
$MS-counterColor: $MS-focusColor;
