$SM-mutedColor: #aaa;
$SM-backgroundColor: #fff;
$SM-focusColor: #1298d4;
$SM-fieldHeight: 40px;
$SM-borderRadius: 5px;
$SM-dividerColor: #cfd4d9;
$SM-borderColor: $SM-mutedColor;
$SM-textColor: #333;
$SM-itemTextColor: #666666;
$SM-itemHoverColor: #ebf5ff;
$SM-searchPlaceholderColor: $SM-mutedColor;
$SM-dropDownHeight: 300px;
$SM-tagBackgroundColor: $SM-focusColor;
$SM-tagColor: #fff;
$SM-tagCloseBackgroundColor: #d1d1d1;
$SM-tagCloseColor: $SM-textColor;
$SM-tagBorderRadius: 3px;
$SM-counterColor: $SM-focusColor;
$SM-selectAllColor: $SM-itemTextColor;
